<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./header.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <img src="../../images/logo-platzi.png" alt="" class="header__img">
        <div class="header__menu">
            <div class="header__menu--profile">
                <img class="header__menu-img" src="../../images/user-icon.png" alt="user">
                <p class="header__menu-texto">Perfil</p>
            </div>
            <ul class="header__menu--profile">
                <li><a href="">Cuenta</a></li>
                <li><a href="">Cerrar Sesion</a></li>
            </ul>
        </div>
    </header>    
</body>
</html>