<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./registro.css">
    <title>Registro</title>
</head>
<body>
    <header class="header">
        <img src="../../images/logo-platzi.png" alt="" class="header__img">
        <div class="header__menu">
            <div class="header__menu--profile">
                <img class="header__menu-img" src="../../images/user-icon.png" alt="user">
                <p class="header__menu-texto">Perfil</p>
            </div>
            <ul class="header__menu--profile">
                <li><a href="">Cuenta</a></li>
                <li><a href="">Cerrar Sesion</a></li>
            </ul>
        </div>
    </header>
    
    <section class="login">
        <section class="login__container">
            <h2 class="login__title ">Registrate</h2>
            <form class="login__container--form" action="">
                <input type="text" class="input" placeholder="Nombre">
                <input type="text" class="input" placeholder="Correo">
                <input type="password" class="input" placeholder="Contrasena">

                <button class="button">
                    Registrarme
                </button>
            </form>

            <p class="login__container--register">
                <a href="">Iniciar Sesion</a>
            </p>
        </section>
    </section>
    <footer class="footer">
        <a href="">
            Terminos de uso
        </a>
        <a href="">
            Declaracion de privacidad
        </a>
        <a href="">
            Centro de ayuda
        </a>
    </footer>
</body>
</html>